
:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;

    --secondary-bg-color: #E5E5E5;
    --first-bg-color: #AFB1B8;
    --second-bg-color:#2F303A;
    --third-bg-color: #F5F4FA;
}
/* !color: #2196F3; */
/* color: #212121; */
/* color: #FFFFFF; */
/* color: #757575; */
/* color: rgba(255, 255, 255, 0.4);
background: rgba(47, 48, 58, 0.8);
background: #F5F4FA;
background: #E5E5E5;
background: #FFFFFF;
background: #2F303A;*/


/*  font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif; */
    /* <!-- Навігація --> */
img {
    display: block;
    max-width: 100%;
}
svg {
    margin: auto;
    border: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0px;
    padding: 0px;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
    /* outline: 2px solid blue; */
}
.position {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 94px;
    padding-top: 94px;
}

.header-logo {
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 25px;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
.site-nav .logo {
    color: var(--accent-color);
}

.site-nav .site-logo {
    color: #000000;
}

.site-footer {
    color: var(--primary-white-color);
}

.link {
    text-decoration: none;
}
.site-nav {
    display: flex;
    align-items: center;
}
.site-nav .item+.item{
    margin-left: 50px;
}

.site-nav .link {
    padding: 32px 0px 27px 0px;
}
.list{
    list-style: none;
    display: flex;
}
.list .link {
    border-bottom: 4px transparent ;
    --color1: var(--primary-text-color);
    --color4: var(--primary-text-color);

}
.list .link:focus,
.list .link:hover {
    color: var(--accent-color);
    border-bottom: 4px solid var(--accent-color);
    border-radius: 2px;
    --color1: var(--accent-color);
    --color4: var(--accent-color);

}
.list .link.current {
    color: var(--accent-color);
    border-bottom: 4px solid var(--accent-color);
    border-radius: 2px;
}
.site-nav .list-logo {
    margin: 0px 0px 0px 85px;
}
.site-nav .list{
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    padding: 0px;

}
.site-nav .items {
    margin: 0px  0px 0px auto;
    padding: 0px;
}

.icon {
    /* outline: 1px solid blue; */
    display: inline;
}
.malito {
    align-self: center;
}
.icon-tell {
    align-self: center;
}
.malito .icon,
.icon-tell .icon {
    display: inline;
    margin-right: 10px;
}

.items .icon-tell {
    min-width: 122px;
    margin-left: 50px;
}

/* <!-- footer --> */

.footer {
    background: var(--second-bg-color);
    color: var(--primary-white-color);
    display: flex;
    margin-bottom: 0px;
    padding-top: 48px;
    padding-bottom: 0px;
    font-style: normal;
}
.footer-nav {
    display: flex;
    text-align: left;
    list-style: none;
    margin-bottom: 28px;
    justify-content: space-between;

}
.adres {
    white-space: nowrap;
    font-style: normal;
}

.adres .footer-logo {
    display: flex;
    list-style: none;
    text-decoration: none;


    font-family: Raleway;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;
    letter-spacing: 0.03em;

    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
.adres .logo {
    color: var(--accent-color);
}
.adres .site-logo {
    color:var(--primary-white-color);
}
.text {
    color: var(--primary-text-color);
}

.address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.adres .address+.address {
    margin-bottom: 9px;
}
.adres p {
    margin: 0px;
}

.footer-nav .join {
    margin-left: 69px;
    margin-bottom: 0px;
}
.social {
    justify-content: space-around;
}
.join .title {
    text-align: left;
}
.join .social {
    margin: 0px;
    padding-left: 0px;
    margin-top: 24px;
}

.item-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social .item +.item{
    margin-left: 10px;
}
.join .item {
   --color3: var(--primary-white-color);
   background: rgba(255, 255, 255, 0.1);
   border-radius: 50%;
}
.join .item:hover {
    --color3: var(--primary-white-color);
    background: var(--accent-color);
}
.footer .sign {
    margin-left: 93px;
}
.title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-bottom: 21px;
    margin: 0px;
}

.sign .two {
    display: flex;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.06em;

}
.signature {
    /* width: 350px;
    height: 50px; */
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-weight: 400;
    text-align: left;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-right: 12px;
    padding: 12px 18px;
    display: block;
}
.sign .button {
    background:  var(--accent-color);
    color: var(--primary-white-color);
    font-weight: 900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 12px 62px 12px 29px;
    border: 1px solid transparent;
    display: flex;
}
.line {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 18px;
}
.customer {
    font-weight: 400;
    font-size: 12px;
    line-height: 2.0;
    text-align: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.4);
    border-top-width: 3px;
    margin-bottom: 0;
    padding-bottom: 21px;
}
.button .icon {
    margin-left: 10px;
}

