


body {
    background: #FFFFFF;
    color: var(--secondary-text-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

}
/* overflow: hidden; */

.button {
    background:  #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    font-family: inherit;

    border-radius: 4px;
    border: 1px solid transparent;
    padding: 6px 22px;
    display: block;
}


.list .button:focus,
.list .button:hover {
    background: #2196F3;
    color: #FFFFFF;
    border: 1px solid var(--accent-color);
    padding: 6px 22px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.services {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: -15px -15px 0 -15px;
    padding-left: 0px;
}
.item-services {
    width: 370px;
    margin: 15px;
}
.services :nth-last-child(-n +3){
    margin-bottom: 0px;
}
.list-services {
    list-style: none;
    text-decoration: none;

}
.sorting {
    margin-bottom: 94px;
}
.sorting h1 {
    display: none;
}
.sorting .list {
    padding-top: 94px;
    margin-top: 0px;
    padding-left: 0px;
    margin-bottom: 50px;
    flex-direction: row;
    justify-content: center;
}
.sorting .item+.item {
    margin-left: 8px;
}

h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    margin-top: 0px;
}
.item-services img {
    /* border-radius: 5px 5px 0px 0px; */
    overflow: hidden;
}
.item-services:focus,
.item-services:hover {
    cursor: pointer;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}
.bloc {
    border: 1px solid #EEEEEE;
    /* border-radius: 0px 0px 5px 5px; */
    overflow: hidden;
    padding: 24px 20px;
}
.list-services .kontent {
    font-size: 18px;
    line-height: 1.6;
    color: var(--primary-white-color);
    background: rgba(33, 150, 243, 0.9);
    margin-top: 0px;
    margin-bottom: 0px;
}
.list-text {
    font-size: 16px;
    line-height: 1.9;
    margin-top: 0px;
    margin-bottom: 4px;
    color: var(--primary-text-color);
    text-decoration: none;
}
